.thrive {
  padding: 100px 55px;
}

.up-thrive {
  h1 {
    width: 80%;
    color: #100e0e;
    font-family: Almarai;
    font-size: 89px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

.digitalimg {
  width: 562px;
  height: 652px;
  img {
    width: 562px;
    height: 652px;
    padding: 20px 0;
  }
}

.digital-peras {
  width: 50%;
  p {
    width: 80%;
    color: #000;
    font-family: Sora;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    padding: 20px 50px;
    // background: conic-gradient(from 181deg at 37.4% 49.25%, #B46F38 5.011211335659027deg, #CF974A 55.738980174064636deg);
  }
}
