@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* padding: 0px 56.279px 0px 55px; */
  font-family: Almarai;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Sora:wght@200;300;400;500;600;700;800&display=swap');
